# hidden files
._*
*.pyc
#object files
*.o
cuda_codes/Debug/libparallel_ray_tracing.so
#*.so
#.mat files
#**.mat

# python hidden files
python_codes/__pycache__/*

# pycharm files
python_codes/.idea/*

python_codes/build/*

# pickle files
**.p

#.tif images
**.tif
**.bin
*~
.DS_Store
.nrrd
.dat

/data
/results

/src/sample-codes
/data
/results
*~
./sample-data/sample-images
