# hidden files
._*
*.pyc
#object files
*.o
*.so
#.mat files
#**.mat

# pycharm files
python_codes/.idea/*

python_codes/build/*

# pickle files
**.p

#.tif images
**.tif
**.bin
*~
.DS_Store
.nrrd
.dat

/data
/results

/src/sample-codes
/data
/results
*~
./sample-data/sample-images
