# hidden files
._*
#object files
*.o

#.mat files
**.mat

# pycharm files
python_codes/.idea/*

python_codes/build/*

# pickle files
**.p

#.tif images
**.tif
**.bin
*~
.DS_Store
.nrrd
.dat

/data
/results

/test_directory*
test_directory/particle_positions/particle_data_frame_0001.p
test.bin
test_directory_sayantan_params/1e6/particle_positions/*.p
test_directory_sayantan_params/*/particle_positions/*.p
test_directory_sayantan_params/particle_positions/*.p

/src/sample-codes
/data
/results
*~

